.btn {
  margin-top: 15px;
}

h3 {
  margin-top: 20px;
}

p {
  margin-bottom: 0;
}

p.labl {
  margin-top: 10px;
}

ul.list-group {
  margin-top: 0px;
  margin-bottom: 5px;
}

li.list-group-item {
  margin-top: 15px;
  padding-bottom: 30px;
}

.card {
  /* margin-top: 25px;
  margin-bottom: 45px; */
  margin: 25px auto 45px auto;
}

.card-text {
  margin-bottom: 10px;
}

.btn {
  margin-right: 20px;
}

form {
  margin-top: 25px;
}

.nav {
  margin-bottom: 30px;
}